{% load static %}
<html>
    <head>
        <title>My CV</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" href="{% static 'css/cv_stylesheet.css' %}">

    </head>
    <body>
        <body>
            <div class="page-header">
                <h1><a href="/">My CV</a></h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% endif %}
            </div>
            
            <div class= "title">
                <b>
                    Paul Byrne
                </b>
            </div>

            <div>
                paulbyrne99@rocketmail.com
            </div>

            <div>
                <h2><edu>Education</edu></h2>
            </div>
            <form method="POST">
                <input name="ed_item_text" id="id_new_ed_item" placeholder="New education item" />
                {% csrf_token %}
            </form>
            <table id="CV_qualification">
                {% for qual in quals %}
                    <tr><td>{{ qual.text }}</td></tr>
                {% endfor %}
            </table>

            <div>
                    <h2>Experience</h2>
            </div>
            <form method="POSTex">
                <input name="ex_item_text" id="id_new_ex_item" placeholder="New experience item" />
                {% csrf_token %}
            </form>
            <table id="CV_experience">
                {% for exp in exps %}
                    <tr><td>{{ exp.text }}</td></tr>
                {% endfor %}
            </table>

            <div>
                <h2>Skills</h2>
            </div>
            <form method="POSTsk">
                <input name="sk_item_text" id="id_new_sk_item" placeholder="New skill item" />
                {% csrf_token %}
            </form>
            <table id="CV_skill">
                {% for skill in skills %}
                    <tr><td>{{ skill.text }}</td></tr>
                {% endfor %}
            </table>

            </body>            
    </body>
</html>
